.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-test {
  height: 20vh;
  background-color: #282E4E;
}

.content {
  flex-grow: 1;
  background-color: #fff;
}

.form-container {
  margin: auto;
  max-width: 400px;
  padding: 20px;
}

.form-question {
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1px;
}

  
  label {
    display: flex;
    align-content:flex-start;

  }
  input{
    width: 400px;
    display: flex;
    align-content: center;
  }
  