.container-career {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-top: 85%;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .career-table {
    width: 60%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
  }
  
  .career-table th,
  .career-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .career-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .career-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .career-table tr:hover {
    background-color: #f1f1f1;
  }
  